div.filter_date_dropdown_container
    form.filter_date_dropdow
        label.filter_date_dropdow_label(for='date_range')
            h3 Filter date dropdown
        input#date_range.filter_date_dropdow_input.datepicker-here(type='text' name='text' autocomplete="off" placeholder="19 авг - 23 авг")