mixin bullet-list__item (text)
    li.bullet-list__item=text

ul.bullet-list
  +bullet-list__item('Нельзя с питомцами')
  +bullet-list__item('Без вечеринок и мероприятий')
  +bullet-list__item('Время прибытия — после 13:00, а выезд до 12:00')
