doctype html
html
    head(lang=lang)
      meta(charset="UTF-8")
      block metategs
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content=myDesc)
      title #{myTitle}
        
      block links
        link(href="./src/ulkit_1.scss" rel ="stylesheet")
        link(href="./src/includes/fonts/fontstyle.scss" rel ="stylesheet")
        link(href="./src/includes/logo/logo.scss" rel ="stylesheet")
        link(href="./src/includes/ulkit_fonts/ulkit_fonts.scss" rel ="stylesheet")
        link(href="./src/includes/ulkit_colors/ulkit_colors.scss" rel ="stylesheet")
        link(href="./src/ulkit_2.scss" rel ="stylesheet")
        link(href="./src/mixins/text_field/textfield.scss" rel ="stylesheet")
        link(href="./src/scripts/air-datepicker/dist/css/datepicker.min.css" rel ="stylesheet")
        link(href="./src/includes/dropdown/dropdown.scss" rel ="stylesheet")
        link(href="./src/includes/date_dropdown/date_dropdown.scss" rel ="stylesheet")
        link(href="./src/mixins/checkbox/checkbox.scss" rel ="stylesheet")
        link(href="./src/includes/exp_checkbox/exp_checkbox.scss" rel ="stylesheet")
        link(href="./src/includes/comfort_icons/comfort_icons.scss" rel ="stylesheet")
        link(href="./src/includes/checkbox_btn/checkbox_btn.scss" rel ="stylesheet")
        link(href="./src/includes/radio_btn/radio_btn.scss" rel ="stylesheet")
        link(href="./src/includes/toggle/toggle.scss" rel ="stylesheet")
        link(href="./src/includes/like_btn/like_btn.scss" rel ="stylesheet")
        link(href="./src/includes/rate_btn/rate_btn.scss" rel ="stylesheet")
        link(href="./src/mixins/checkbox_text_adv/checkbox_text_adv.scss" rel ="stylesheet")
        link(href="./src/includes/rich_check_btn/rich_check_btn.scss" rel ="stylesheet")
        link(href="./src/includes/review/review.scss" rel ="stylesheet")
        link(href="./src/scripts/jquery-ui-1.12.1/jquery-ui.css" rel ="stylesheet")
        link(href="./src/includes/range_slider/range_slider.scss" rel ="stylesheet")
        link(href="./src/includes/buttons/buttons.scss" rel ="stylesheet")
        link(href="./src/includes/pagination/pagination.scss" rel ="stylesheet")
        link(href="./src/includes/filter_date_dropdown/filter_date_dropdown.scss" rel ="stylesheet")
        link(href="./src/includes/bullet_list/bullet_list.scss" rel ="stylesheet")
        