div.piechart__container  
  div.piechart__pie
    div.piechart__rectangle1
    div.piechart__rectangle2
    div.piechart__rectangle3
    div.piechart__circle
      h1.piechart__circle__text1 260 
      h3.piechart__circle__text2 голосов
  div.piechart__legend
    div.piechart__legend__line
      div.piechart__legend__line__circle.piechart__legend__line__circle_orange
      span.piechart__legend__line__text Великолепно
    div.piechart__legend__line
      div.piechart__legend__line__circle.piechart__legend__line__circle_green
      span.piechart__legend__line__text Хорошо
    div.piechart__legend__line
      div.piechart__legend__line__circle.piechart__legend__line__circle_purple
      span.piechart__legend__line__text Удовлетворительно
    div.piechart__legend__line
      div.piechart__legend__line__circle.piechart__legend__line__circle_grey
      span.piechart__legend__line__text Разочарован

