div.UIkit-colors__container
    div.UIkit-colors__colors.UIkit-colors__color1
    div.UIkit-colors__descr
            h2 Dark Shade 100% 
            span #1F2041
    div.UIkit-colors__colors.UIkit-colors__color2
    div.UIkit-colors__descr
            h2 Dark Shade 75% 
            span #1F2041
    div.UIkit-colors__colors.UIkit-colors__color3
    div.UIkit-colors__descr
            h2 Dark shade 50% 
            span #1F2041
    div.UIkit-colors__colors.UIkit-colors__color4
    div.UIkit-colors__descr
            h2 Dark Shade 25% 
            span #1F2041
    div.UIkit-colors__colors.UIkit-colors__color5
    div.UIkit-colors__descr
            h2 Dark Shade 25% 
            span #1F2041
    div.UIkit-colors__colors.UIkit-colors__color6
    div.UIkit-colors__descr
            h2 Purple 
            span #BC9CFF
    div.UIkit-colors__colors.UIkit-colors__color7
    div.UIkit-colors__descr
            h2 Green 
            span #6FCF97

    
