table.fonts_table
          tr
            td.fonts_table_cell  
              h1.fonts_table_cell_1 
                |H1 
            td.fonts_table_cell.fonts_table_cell_2
              h1 This one is the sub-section or widget title
          tr
            td.fonts_table_cell
              h2.fonts_table_cell_1 
                |H2 
            td.fonts_table_cell.fonts_table_cell_2 
              h2 Next one is the item title inside widgets 
          tr
            td.fonts_table_cell 
              h3.fonts_table_cell_1 
                |H3 
            td.fonts_table_cell.fonts_table_cell_2
              h3 This is a label or CTA text 
          tr.last_row
            td.fonts_table_cell.fonts_table_cell_1
              | Body 
            td.fonts_table_cell.fonts_table_cell_2 
              span.body_text This is the body text which is used for most of the design, like paragraphs, lists, etc. 
          