.rich_check_btn_container {
    margin: 0;
    padding: 0; 
    width: 260px;
    height: 155px;
}

.rich_check_btn_list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
}

.rich_check_btn_listitem{
    list-style: none;
    font-style:normal;
    color:rgba(31, 32, 65, 0.5);
    margin: 0;
    padding: 0;
    margin-bottom: 6px; 
}

.rich_check_btn_listitem .checkbox_text1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color:rgba(31, 32, 65, 0.75);
    
}   

.rich_check_btn_listitem .checkbox_text2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-top: 5px;
    vertical-align: center;
    font-size: 12px;
    line-height: 14px;
    color:rgba(31, 32, 65, 0.5);
    }   


