div.rate_btn_container
    h3 Rate button
    .rate_btn
        <i class="material-icons rate_icon rate_icon__unchecked" id="star1">star_border</i> 
        <i class="material-icons rate_icon rate_icon__unchecked" id="star2">star_border</i> 
        <i class="material-icons rate_icon rate_icon__unchecked" id="star3">star_border</i> 
        <i class="material-icons rate_icon rate_icon__unchecked" id="star4">star_border</i> 
        <i class="material-icons rate_icon rate_icon__unchecked" id="star5">star_border</i> 
        
    .rate_btn
        <i class="material-icons rate_icon rate_icon__checked">star</i>
        <i class="material-icons rate_icon rate_icon__checked">star</i>
        <i class="material-icons rate_icon rate_icon__checked">star</i>
        <i class="material-icons rate_icon rate_icon__checked">star</i>
        <i class="material-icons rate_icon rate_icon__checked">star</i>
    