extends ./pages/template/layout.pug
prepend head
  - var lang="en"
  - var myTitle = "Toxin"
  - var myDesc = "Toxin_hotel_search"
block links
    link(href="./src/includes/fonts/fontstyle.scss" rel ="stylesheet")
  
block main
  h1.pages-list__header UI Kit
    ul.pages-list
      li.pages-list__item 
        a(href="./pages/UIkit-1/UIkit-1.pug" name="UI Kit Colors and Fonts" target="blank") 
          h3 UI Kit Colors and Fonts
      li.pages-list__item 
        a(href="./pages/UIkit-2/UIkit-2.pug" name="UI Kit Form Elements" target="blank") 
          h3 UI Kit Form Elements

block scripts
    
 