extends ./pages/template/layout.pug
prepend head
  - var lang="en"
  - var myTitle = "Toxin"
  - var myDesc = "Toxin"

  
block main
  nav.pages-list__container 
    h3.main__header Toxin Hotel search 
    h3.main__header2 (Fullstack Development frontend study project. Part 1)
    h3.pages-list__header Site Pages
    ul.pages-list__list
      li.pages-list__list-item 
        a(href="Landing.pug" name="Landing Page" target="_blank") 
          h3 Landing Page
      li.pages-list__list-item 
        a(href="Registration-page.pug" name="Registration Page" target="_blank") 
          h3 Registration Page
      li.pages-list__list-item 
        a(href="Signin-page.pug" name="Sign in Page" target="_blank") 
          h3 Sign in Page
      li.pages-list__list-item 
        a(href="Search-room-page.pug" name="Search room  Page" target="_blank") 
          h3 Search room Page
      li.pages-list__list-item 
        a(href="Room-details-page.pug" name="Room details Page" target="_blank") 
          h3 Room details Page
    h3.pages-list__header UI Kit
    ul.pages-list__list
      li.pages-list__list-item 
        a(href="UIkit-colors-fonts.pug" name="UI Kit Colors and Fonts" target="_blank") 
          h3 UI Kit Colors and Fonts
      li.pages-list__list-item 
        a(href="UIkit-form-elements.pug" name="UI Kit Form Elements" target="_blank") 
          h3 UI Kit Form Elements
      li.pages-list__list-item 
        a(href="UIkit-cards.pug" name="UI Kit Cards" target="_blank") 
          h3 UI Kit Cards
      li.pages-list__list-item 
        a(href="UIkit-headers-footers.pug" name="UI Kit Headers & Footers" target="_blank") 
          h3 UI Kit Headers & Footers
      li.pages-list__list-item.pages-list__repository-link 
        a(href="https://github.com/iea140777/FSD_parcel_IEA140777" target="_blank") 
          h3 Go to GitHub repository
block scripts