extends pages/template/site-page-layout.pug
prepend head
  - var lang="ru"
  - var myTitle = "Toxin | Registration"
  - var myDesc = "Toxin Hotel Search"
append links
  link(href="pages/Registration-page/Registration-page.scss" rel ="stylesheet")

block pageContent
  div.registration__container
    div.registration__card-registration-container
      include src/blocks/card-registration/card-registration.pug
 
  