include ./src/includes/config.pug
- var lang="ru"
- var myTitle = "UiKit_3: Cards"
include ./src/includes/block_head.pug
body
  include ./src/includes/logo/logo.pug
  div.form_elements_container
    div.form_elements_col
    div.form_elements_col
    div.form_elements_col
      
      div.clearfix.spaceholder