div.pagination__container
    div.pagination__list-container
        a.pagination__list-item(href="#", onclick="return false;") 1
        a.pagination__list-item(href="#", onclick="return false;") 2
        a.pagination__list-item(href="#", onclick="return false;") 3
        a.pagination__list-item(href="#", onclick="return false;")  ...
        a.pagination__list-item(href="#", onclick="return false;") 15
        a.pagination__list-item(href="#", onclick="return false;") <i class="material-icons pagination__arrow-forward">arrow_forward</i>
    p.pagination__text 1 - 12 из 100+ вариантов аренды
