div.pagination__container
    div.pagination__list-container
        a.pagination__list-item(href="#") 1
        a.pagination__list-item(href="#") 2
        a.pagination__list-item(href="#") 3
        a.pagination__list-item(href="#")  ...
        a.pagination__list-item(href="#") 15
        a.pagination__list-item(href="#") <i class="material-icons pagination__arrow-forward">arrow_forward</i>
    p.pagination__text 1 - 12 из 100+ вариантов аренды
