mixin textfield(type, name, placeholder, addclass)
  div.input__container
    input.input(type=type name=name autocomplete="off" placeholder=placeholder class=addclass)
    

// addclass:
//- - ".input_open-icon" class for expandable icon, add position relative for container  
//- - ".input_arrow" class for forward arrow (gradient colored), add position relative for container
//- - ".input_date" class for data mask plugin (dd.mm.yyyy)


 