//- div.textfield-email__container
//-   form.textfield-email(name="textfield-email")
//-     label.textfield-email__label(for='email')
//-       h3 Text field
//-     input#email.textfield-email__input(type='email' name='email' autocomplete="off" placeholder="Email")

mixin textfield(name, placeholder, addclass)
  input.textfield__input(type='text' name=name autocomplete="off" placeholder=placeholder class=addclass)
            