.textfield__container {
  margin: 0;
  padding: 0; 
  width: 100%;
  height: 67px;
  display: block;
  box-sizing: border-box;
}
  
.textfield__input {
  outline: none; 
  margin: 0px;
  padding: 0px; 
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Conv_Montserrat-Regular';
  font-size: 14px;
  display: inline-block;
}
      
.textfield__input:hover {
  outline: none ;
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.textfield__input:focus {
  outline: none ;
  border-color: 0;   
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
  outline: none;
}

.textfield__input:active{
  outline: none
} 

.textfield__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}


