mixin button(title, style, size)
    form.button__container(class=size)
        button.button(class=style, type="button", formaction="#")
            h3.button__text=title
          
            
    
   
