include ../../mixins/checkbox-mixin/checkbox-mixin.pug

div.exp-checkbox__container
    div.exp-checkbox__title__container
        h3.exp-checkbox__title Дополнительные удобства
            span.material-icons.exp-checkbox__open-icon expand_more 
    ul#exp.exp-checkbox__list
        li.exp-checkbox__list-item: +checkbox("Завтрак", '2')
        li.exp-checkbox__list-item: +checkbox("Письменный стол",'3' )
        li.exp-checkbox__list-item: +checkbox("Стул для кормления", '4')
        li.exp-checkbox__list-item: +checkbox("Кроватка", '5')
        li.exp-checkbox__list-item: +checkbox("Телевизор",'6')
        li.exp-checkbox__list-item: +checkbox("Шампунь",'7')
        li.exp-checkbox__list-item: +checkbox("Телевизор",'8')
        li.exp-checkbox__list-item: +checkbox("Шампунь",'9')
          

