extends ../src/templates/layout.pug
prepend head
  - var lang="en"
  - var myTitle = "Ui_Kit_Cards"
  - var myDesc = "Toxin_hotel_search"
append links
  link(href="../src/includes/logo/logo.scss" rel ="stylesheet")

block main
  include ../src/includes/logo/logo.pug
  