include ../../mixins/dropdown-list-item-mixin/dropdown-list-item-mixin.pug

div.dropdown-guests__container
  input.dropdown-guests__input(type='text' name='guests' autocomplete="off" placeholder="Сколько гостей" readonly)
  ul.dropdown-guests__list
    + dropdown__list-item('Взрослые', 'counter4')
    + dropdown__list-item('Дети', 'counter5')
    + dropdown__list-item('Младенцы', 'counter6')
    li.dropdown__list-item.dropdown__buttons
      input.dropdown__button.dropdown__button_clear(type='button' value='Очистить' class='invisible')
      input.dropdown__button.dropdown__button_apply(type='button' value='Применить') 