@import "../../src/mixins/card-room-mixin/card-room-mixin.scss";
@import "../../src/blocks/pagination/pagination.scss";
@import "../../src/blocks/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../src/blocks/dropdown-guests/dropdown-guests.scss";
@import "../../src/blocks/range-slider/range-slider.scss";
@import "../../src/blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "../../src/blocks/dropdown-facilities/dropdown-facilities.scss";
@import "../../src/blocks/exp-checkbox/exp-checkbox.scss";
@import "../../src/blocks/checkbox-buttons/checkbox-buttons.scss";

.search-room__container{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 266px minmax(270px, 1116px);
    // grid-template-rows: auto;
    column-gap: 59px;
    padding: 30px 140px 54px 140px;
    border-bottom: 1px solid $color__dark-shade25;
    align-items: start; 
    @media screen and (max-width: 1300px){
        padding: 10px 5vw 54px 5vw;
    };
    @media screen and (max-width: 660px){
        grid-template-columns:  minmax(300px, 640px);
        grid-template-rows: auto;
        justify-content: center; 
        column-gap: 0;
    }   
}

.search-room__filter-container-header-mobile {
    margin: 0;
    padding: 0;
    display: none;
    width: 290px;
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 10px;
    vertical-align: baseline;
    @media screen and (max-width: 660px){
        display: block; 
    };
    h3 {
        display: inline-block; 
        line-height: 100%;
        vertical-align: middle; 
        color: $color__purple;
    }; 
}
      
.search-room__menu-open-button.material-icons{
    line-height: 100%;
    vertical-align: middle; 
    color: $color__purple;
}

.search-room__menu-close-button{
    transform: rotate(180deg);
}

.search-room__filter__container {
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 266px;
    justify-content: start;
    align-content: start;
    row-gap: 17px;
    @media screen and (max-width: 660px){
        display:none;
        width: 266px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        z-index: 100;
        background: white;
    }
}

.search-room__filter__container_open{
    @media screen and (max-width: 660px){
        display:grid;
    };
}

.search-room__filter__range-slider-container{
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 8px;
}

.search-room__filter_range-slider__comment {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: $color__dark-shade50;
    font-size: 12px;
    line-height: 14px;
    padding-top: 9px;
}

.search-room__search-results__container{
    margin: 0;
    padding: 0;
    width: 100%;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: start;
    align-items: start;
    @media screen and (max-width: 660px){
        grid-column-start: 1;
        justify-content: center;
    };
}

.search-room__search-results__header{
    grid-row-start: 1;
    display: inline-block;
    justify-content: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.search-room__search-results__cards-container{    
    margin: 0;
    padding: 0;
    // width: 100%;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: start;
    align-items: start;
    column-gap: 12px;
    row-gap: 21px;
    @media screen and (max-width: 660px){
        justify-content: center;
    };
}

.search-room__pagination__container{
    grid-row-start: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    padding-right: 8%;
}

// @media (max-width: 1000px) {
//     .search-room__search-results__container {
//     grid-template-columns: 270px 270px;
//     }
//     .search-room__container{
//     padding-right: 40px;
//     padding-left: 40px;  
//     };
//     .search-room__search-results__header{
//         grid-column-start: 1;
//         grid-column-end: 3;
//         grid-row-start: 1;
//     }
//   }