extends ../template/site-page-layout.pug
prepend head
  - var lang="ru"
  - var myTitle = "Search room page"
  - var myDesc = "Toxin Hotel Search"
append links
  link(href="Search-room-page.scss" rel ="stylesheet")

block pageContent
  include ../../src/blocks/card-room/card-room.pug
  div.search-room__container
    section.search-room__filter__container
      include ../../src/blocks/filter-date-dropdown/filter-date-dropdown.pug
      include ../../src/blocks/dropdown-guests/dropdown-guests-mixin.pug
      include ../../src/blocks/range-slider/range-slider.pug
      span.search-room__filter_range-slider__comment Стоимость за сутки пребывания в номере
      include ../../src/blocks/checkbox-buttons/checkbox-buttons.pug
      include ../../src/blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug
      include ../../src/blocks/dropdown-facilities/dropdown-facilities.pug
      include ../../src/blocks/exp-checkbox/exp-checkbox.pug
    section.search-room__search-results__container
      h1.search-room__search-results__header Номера, которые мы для вас подобрали
      div.search-room__search-results__cards-container
        +card-room-mixin('photo1', 'grey', '888', 'люкс', '9 990', '5', '145')
        +card-room-mixin('photo2', 'grey', '840', '', '9 900', '4', '65', 'noArrows')
        +card-room-mixin('photo1', 'grey', '888', 'люкс', '9 990', '5', '145')
        +card-room-mixin('photo2', 'grey', '840', '', '9 900', '4', '65', 'noArrows')
        +card-room-mixin('photo1', 'grey', '888', 'люкс', '9 990', '5', '145')
        +card-room-mixin('photo2', 'grey', '840', '', '9 900', '4', '65', 'noArrows')
        +card-room-mixin('photo1', 'grey', '888', 'люкс', '9 990', '5', '145')
        +card-room-mixin('photo2', 'grey', '840', '', '9 900', '4', '65', 'noArrows')
      div.search-room__pagination__container
        include ../../src/blocks/pagination/pagination.pug
 

append scripts
  script(src="../../src/blocks/card-room/slick-slider/slick-1.8.1/slick/slick.min.js")
  script(src="../../src/blocks/card-room/slick-slider/slick-slider.js")
  script(src="../../src/blocks/datepicker/air-datepicker/dist/js/datepicker.min.js")
  script(src="../../src/blocks/filter-date-dropdown/filter-date-dropdown.js")
  script(src="../../src/blocks/dropdown-guests/spin-number-plugin.js")
  script(src="../../src/blocks/dropdown-guests/dropdown-guests-mixin.js")
  script(src="../../src/blocks/range-slider/jquery-ui-1.12.1/jquery-ui.min.js")
  script(src="../../src/blocks/range-slider/range-slider.js")
  script(src="../../src/blocks/dropdown-facilities/dropdown-facilities.js")
  script(src="../../src/blocks/exp-checkbox/exp-checkbox.js")
  
  //- script(src="Landing.js")   
  //- script(src="../../src/blocks/datepicker/air-datepicker/dist/js/datepicker.min.js")
  //- script(src="../../src/blocks/date-dropdown/date-dropdown.js")
  //- script(src="../../src/blocks/dropdown-guests/spin-number-plugin.js")
  //- script(src="../../src/mixins/button-mixin/button-mixin.js")
  //- script(src="../../src/blocks/dropdown-guests/dropdown-guests-mixin.js")
  //- script(src="../../src/mixins/textfield-mixin/textfield-mixin.js")
  //- script(src="../../src/blocks/card-room/slick-slider/slick-1.8.1/slick/slick.min.js")