div.ulkit_colors_container
    div.ulkit_colors_view 
        div.ulkit_colors_view_1
        div.ulkit_colors_view_2
        div.ulkit_colors_view_3
        div.ulkit_colors_view_4
        div.ulkit_colors_view_5
        div.ulkit_colors_view_6
        div.ulkit_colors_view_7

    div.ulkit_colors_descr
        div.ulkit_colors_descr_1
            h2 Dark shade 100% <br> #1F2041
        div.ulkit_colors_descr_2
            h2 Dark shade 75% <br> #1F2041
        div.ulkit_colors_descr_3
            h2 Dark shade 50% <br> #1F2041
        div.ulkit_colors_descr_4
            h2 Dark shade 25% <br> #1F2041
        div.ulkit_colors_descr_5
            h2 Dark shade 25% <br> #1F2041
        div.ulkit_colors_descr_6
            h2 Purple <br> #BC9CFF
        div.ulkit_colors_descr_7
            h2 Green <br> #6FCF97

