.date_dropdown_container{
  margin: 0;
  padding: 0; 
  width: 320px;
  height: 100px;
 }

.text_field_narrow:last-child {
margin-left: 20px;
}

.text_field_narrow {
width: 150px;
display: inline-block;
}

.text-field__form_narrow {
width: 150px;
cursor: pointer;
}
 
.text-field__form_narrow::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.date_dropdown_arrow{
position: absolute;
right: 10px;
top: 41px;
}

.close_icon {
  transform: rotate(180deg);
  }

