
.dropdown-facilities__container {
margin: 0;
  padding: 0; 
  width: 266px;
  height: auto;
  position: relative
}

.dropdown-facilities__label{
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  height: 5px;
  line-height: 10px;
}

.dropdown-facilities__input{
  outline: none; 
  margin: 0px;
  padding: 0px; 
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Conv_Montserrat-Regular';
  font-size: 14px;
  position: relative;
  display: inline-block;
  padding-right: 35px; 
  cursor: pointer;   
}

.dropdown-facilities__input:hover{
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-facilities__input:focus{
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-facilities__input::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-facilities__expand-button{
  border: none;
  background: none;
  position: absolute;
  right: 4px;
  top: 34px;
  z-index: 10;
  cursor: pointer;
  outline: none;
  color: rgba(31, 32, 65, 0.5);
  }

.dropdown-facilities__close-icon {
    transform: rotate(180deg);
    }

.dropdown-facilities__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 67px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 0 0 2px 2px;
  width: 100%;
  height: 119px;
  box-sizing: border-box;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding-bottom: 6px;
}
.dropdown-facilities__list_hidden{
  display: none;
}

.dropdown__list-item{
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 6px;
  box-sizing:  border-box;
  align-items: center;
}

.dropdown__list-item__title{
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.dropdown__list-item__title h3{
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.dropdown__counter{
display: flex;
justify-content: space-between;
align-items: center;
height: 42px;
}

.counter {
  display: flex;
  align-items: center;
}

.number-input{
  font-family: 'Conv_Montserrat-Bold', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #1F2041;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
  width: 32px;
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
 .incrementer, .decrementer {
width: 30px;
height: 30px;
font-family: 'Conv_Montserrat-Bold', 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
display: inline-block;
text-align: center;
vertical-align: bottom;
color: rgba(31, 32, 65, 0.5);
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 22px;
background-color: white;
cursor: pointer;
outline: none;
}
.decrementer_disabled{
  opacity: 0.38;
  &:focus, &:hover{
    opacity: 0.38;
  }
}

