
div.dropdown-facilities__container
  h3.dropdown-facilities__label Удобства номера
  input.dropdown-facilities__input(type='text' name='facilities' autocomplete="off" placeholder="Удобства" readonly)
  ul.dropdown-facilities__list.dropdown-facilities__list_hidden
    li.dropdown__list-item
      div.dropdown__list-item__title
        h3 Спальни
      div.counter.dropdown__counter4(min="0", max="20", step="1")
    li.dropdown__list-item
      div.dropdown__list-item__title
        h3 Кровати
      div.counter.dropdown__counter5(min="0", max="20", step="1")
    li.dropdown__list-item
      div.dropdown__list-item__title
        h3 Ванные комнаты
      div.counter.dropdown__counter6(min="0", max="20", step="1") 
    



//- for Spin-number-plugin script should be added on the page: script(src="../../src/blocks/dropdown-facilities/spin-number-plugin.js") 
     
    

    