extends ../template/layout.pug
prepend head
  - var lang="en"
  - var myTitle = "Ui_Kit_colors&types"
  - var myDesc = "Toxin_hotel_search"
append links
  link(href="UIkit-1.scss" rel ="stylesheet")
  link(href="../../src/assets/logo/logo.scss" rel ="stylesheet")
  link(href="../../src/includes/ulkit_fonts/ulkit_fonts.scss" rel ="stylesheet")
  link(href="../../src/includes/ulkit_colors/ulkit_colors.scss" rel ="stylesheet")

block main
  include ../../src/assets/logo/logo.pug
  div.colors_type
    div.colors
      include ../../src/includes/ulkit_colors/ulkit_colors.pug
    div.fonts
      include ../../src/includes/ulkit_fonts/ulkit_fonts.pug