extends ../template/layout.pug
prepend head
  - var lang="en"
  - var myTitle = "Ui_Kit_colors&types"
  - var myDesc = "Toxin_hotel_search"
append links
  link(href="UIkit-1.scss" rel ="stylesheet")
  link(href="../../src/blocks/logo/logo.scss" rel ="stylesheet")
  link(href="../../src/blocks/ulkit-fonts/ulkit-fonts.scss" rel ="stylesheet")
  link(href="../../src/blocks/ulkit-colors/ulkit-colors.scss" rel ="stylesheet")
 
block main
  include ../../src/blocks/logo/logo.pug
  div.colors_type
    div.colors
      include ../../src/blocks/ulkit-colors/ulkit-colors.pug
    div.fonts
      include ../../src/blocks/ulkit-fonts/ulkit-fonts.pug