div.pagination__container
    h3 Pagination
    div.pagination_list_container
        a.pagination_list_item(href="#") 1
        a.pagination_list_item(href="#") 2
        a.pagination_list_item(href="#") 3
        a.pagination_list_item(href="#")  ...
        a.pagination_list_item(href="#") 15
        a.pagination_list_item(href="#") <i class="material-icons arrow_forward_pagination">arrow_forward</i>
    p.pagination_text 1 - 12 из 100+ вариантов аренды
