mixin checkbox_text_adv (text1, text2, id)
  .div.checkbox
    input(type="checkbox" id=id)
    label.checkbox_label(for=id)
      span.checkbox_text1 #{text1} <br>
      span.checkbox_text2 #{text2}
