@import "../../src/blocks/card-registration/card-registration.scss";
@import "../../src/blocks/card-login/card-login.scss";


.registration__container {
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    height: 702px;
    margin: 0;
    padding: 0;
    background-image: url('registration-photo.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__card-registration-container{
    margin: 0;
    padding: 0;
    z-index: 100;
    @media screen and (max-width: 400px){
        width: 300px;
    }
}

