extends ../template/site-page-layout.pug
prepend head
  - var lang="ru"
  - var myTitle = "Registration page"
  - var myDesc = "Toxin Hotel Search"
append links
  link(href="Registration-page.scss" rel ="stylesheet")

block pageContent
  div.registration__container
    div.registration__card-registration-container
      include ../../src/blocks/card-registration/card-registration.pug
 
  
append scripts
  //- script(src="Landing.js")   
  //- script(src="../../src/blocks/datepicker/air-datepicker/dist/js/datepicker.min.js")
  //- script(src="../../src/blocks/date-dropdown/date-dropdown.js")
  //- script(src="../../src/blocks/dropdown-guests/spin-number-plugin.js")
  //- script(src="../../src/mixins/button-mixin/button-mixin.js")
  //- script(src="../../src/blocks/dropdown-guests/dropdown-guests-mixin.js")
  //- script(src="../../src/mixins/textfield-mixin/textfield-mixin.js")
  //- script(src="../../src/blocks/card-room/slick-slider/slick-1.8.1/slick/slick.min.js")