div.radio-button__container
    div.radio-button__1
        label.radio-button__label
            input.radio-button__input(type="radio" name="sex" value="male" checked)
            div.radio-button__text Мужчина
    div.radio-button__2      
        label.radio-button__label
            input.radio-button__input(type="radio" name="sex" value="female")
            div.radio-button__text Женщина