div.range_slider_container
   div.range_slider_header
      label.range_slider_label(for="amount") 
         h3 Range slider
      input#amount.range_slider_input(type="text" readonly)
   div#slider-range.range_slider_slider
 
