.text_field_container {
  margin: 0;
  padding: 0; 
  width: 320px;
  height: 60px;
  }

.text_field {
    margin: 0;
    padding: 0; 
    text-align: left;
    height:67px;
    position: relative;
    }
  
  .text_field__form {
      margin: 0px;
      padding: 0px; 
      width: 320px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      padding-left: 15px;
      color: rgba(31, 32, 65, 0.75);
      font-family: 'Conv_Montserrat-Regular';
      font-size: 14px;
      position: relative;
      display: inline-block;
      }
      
      .text_field__form:hover {
        border-color: 0;  
        border: 1px solid rgba(31, 32, 65, 0.5);
        color: rgba(31, 32, 65, 0.75);
        }
        .text-field__form:focus {
          border-color: 0;   
          border: 1px solid rgba(31, 32, 65, 0.5);
          color: rgba(31, 32, 65, 0.75);
          }

    .text_field__form::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }
  .text_field__label{
  display:inline-block;
  padding: 0;
  margin: 0;
  height:15px;
   }

  .text_field_button {
    border: none;
    height: 59px;
    width: 59px;
background-color: yellow;
color: rgba (31, 32, 65, 0.5);
position: absolute;
top: -15px;
right: -40px;
   }