div.like_btn_container
    h3 Like button
    .like_btn
        <i class="material-icons favorite_icon favorite_icon__unchecked">favorite</i> 
        span.like_counter 2
    .like_btn
        <i class="material-icons favorite_icon favorite_icon__checked">favorite</i> 
        span.like_counter 12
