div.card-room__slider.slider.single-item
  div
    img.card-room__image(src='../../src/blocks/slick-slider/photo-1.png' alt='')
  div
    img.card-room__image(src='../../src/blocks/slick-slider/grey.png' alt='')
  div
    img.card-room__image(src='../../src/blocks/slick-slider/grey.png' alt='')
  div
    img.card-room__image(src='../../src/blocks/slick-slider/grey.png' alt='')