include ../../mixins/textfield-mixin/textfield-mixin.pug
div.textfield-email__container
  form.textfield-email__form(name="textfield")
    label.textfield-email__label(for=id)
      h3 Text field
    +textfield('email', 'user-Email', 'Email')

//- div.textfield-email__container
//-   form.textfield-email(name="textfield-email")
//-     label.textfield-email__label(for='email')
//-       h3 Text field
//-     input#email.textfield-email__input(type='email' name='email' autocomplete="off" placeholder="Email")
            