@import "../../mixins/textfield-mixin/textfield-mixin.scss";

.textfield-email__container {
  margin: 0;
  padding: 0; 
  width: 320px;
  height: 67px;
  display: block;
  box-sizing: border-box;
}

// .textfield-email {
//   margin: 0;
//   padding: 0; 
//   text-align: left;
//   height:67px;
// }
  
// .textfield-email__input {
//   outline: none; 
//   margin: 0px;
//   padding: 0px; 
//   width: 100%;
//   height: 44px;
//   background: #FFFFFF;
//   border: 1px solid rgba(31, 32, 65, 0.25);
//   box-sizing: border-box;
//   border-radius: 4px;
//   padding-left: 15px;
//   padding-right: 15px;
//   color: rgba(31, 32, 65, 0.75);
//   font-family: 'Conv_Montserrat-Regular';
//   font-size: 14px;
//   display: inline-block;
  
// }
      
// .textfield-email__input:hover {
//   outline: none ;
//   border: 1px solid rgba(31, 32, 65, 0.5);
//   color: rgba(31, 32, 65, 0.75);
// }

// .textfield-email__input:focus {
//   outline: none ;
//   border-color: 0;   
//   border: 1px solid rgba(31, 32, 65, 0.5);
//   color: rgba(31, 32, 65, 0.75);
//   outline: none;
// }

// .textfield-email__input:active{
//   outline: none
// } 

// .textfield-email__input::placeholder {
//   color: rgba(31, 32, 65, 0.25);
// }

// .textfield-email__label{
//   display: inline-block;
//   padding: 0;
//   margin: 0;
//   padding-bottom: 5px;
//   height: 5px;
//   line-height: 5px;
// }

// .text_field_button {
//     border: none;
//     height: 59px;
//     width: 59px;
// background-color: yellow;
// color: rgba (31, 32, 65, 0.5);
// position: absolute;
// top: -15px;
// right: -40px;
//    }