@import "../../src/blocks/card-search/card-search.scss";
@import '../../src/blocks/slick-slider/slick-1.8.1/slick/slick.css';


.landing__background-image__container {
    width: 100%;
    max-height: 830px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: bottom;
    position: relative;
    @media screen and (max-width: 880px){
        min-height: 410px;
    }
}

.landing__background-image__container slick-list {
    // max-height: 830px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: bottom;
}


.landing__background-image__image{
    margin:0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    @media screen and (max-width: 880px){
        min-height: 410px;
    }
}

.slick-list.draggable{
    height: 100%;
}
.landing__card-search-container{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 9.3%;
    z-index: 100;
    @media screen and (max-width: 870px){
        top: 150px;
        left: 10px;
    };
    @media screen and (max-width: 450px){
        top: 80px;
    };
    @media screen and (max-width: 400px){
        top: 80px;
        left: 2px;
    };
}

.landing__background-image__container:after {
    margin: 0;
    padding: 0;
    content: "Лучшие номера для вашей работы, отдыха и просто вдохновения";
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 9.5%;
    width: 297px;
    color: $color__dark-shade75;
    text-align: right;
    z-index: 100;
}

.datepicker.-from-bottom- {
    @media screen and (max-width: 400px){
      transform: translateX(-13px);
  };
}