div.filter-date-dropdown__container
    form.filter-date-dropdown__form
        label.filter-date-dropdown__label(for='date-range')
            h3 Даты пребывания в отеле
        input#date-range.filter-date-dropdown__input.datepicker-here(type='text' name='text' autocomplete="off" placeholder="19 авг - 23 авг")

//- for Datepicker plugin script should be added on the page: script(src="../../src/blocks/datepicker/air-datepicker/dist/js/datepicker.min.js")