@mixin button_container($width: '99px') {
margin: 0;
padding: 0;
width: $width;
}

@mixin button__base ($btn_background, $btn_width, $btn_border, $btn_color) {
outline: none ;
height: 44px;
text-align: center;
text-decoration: none;
border-radius: 22px;
border: $btn_border;
background: $btn_background;
width: $btn_width;
box-sizing: border-box;
    .button_text{
    color: $btn_color;
    };
    &:hover{
   opacity: 0.5;
        }
    &:active{
    opacity: 0.25;   
    } 
    }
