doctype html
html    
    block head
        head(lang=lang)
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="description" content=myDesc)
            title #{myTitle}
            base(target="_blank")
            block links
                link(href="../template/fonts/fontstyle.scss" rel ="stylesheet") 
                link(href="../template/variables.scss" rel ="stylesheet")
                link(href="../template/normalize.css" rel ="stylesheet")
        
    body
        block main
        block scripts
            script(src="../template/jquery-3.4.1.js")
            script(src="../template/jquery-migrate-1.4.1.js")
            script(src="../template/jquery-migrate-3.1.0.js")
            script(src='../template/index.js')
            
    
        