doctype html
html    
    block head
        head(lang=lang)
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="description" content=myDesc)
            title #{myTitle}
            base(target="_blank")
            block links
                link(href="/pages/template/fonts/fontstyle.scss" rel ="stylesheet")
                link(href="/pages/template/variables.scss" rel ="stylesheet")
                link(href="/pages/template/normalize.css" rel ="stylesheet")
                link(href="/pages/template/main.scss" rel ="stylesheet")
                
             
        
    body
        div.page-layout__container
            block main  
        block scripts
            script(src="pages/template/jquery-3.4.1.js")
            script(src="pages/template/jquery-migrate-1.4.1.js")
            script(src="pages/template/jquery-migrate-3.1.0.js")
            script(src='pages/template/index.js')
            
    
        