@import "../../src/blocks/header-site/header-site.scss";
@import "../../src/blocks/footer-site/footer-site.scss";
// @import "../../src/blocks/checkbox-buttons/checkbox-buttons.scss";

.site-page-layout__container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "pageContent"
        "footer";
    grid-template-columns: 100%;
}
.template__header-container {
    margin: 0;
    padding: 0;
    grid-area: header;
    width: 100%;
}

.page-content__container {
    margin: 0;
    padding: 0;
    grid-area: pageContent;
    width: 100%;
}

.template__footer-container {
    margin: 0;
    padding: 0;
    grid-area: footer;
    // height: 443px;
    width: 100%;
}