@import "../../src/blocks/header-site/header-site.scss";
@import "../../src/blocks/footer-site/footer-site.scss";


.site-page-layout__container{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    min-width: 320px;
    display: grid;
    grid-template-areas:
        "header"
        "pageContent"
        "footer";
}
.template__header-container {
    margin: 0;
    padding: 0;
    grid-area: header;
}

.page-content__container {
    margin: 0;
    padding: 0;
    grid-area: pageContent;
}

.template__footer-container {
    margin: 0;
    padding: 0;
    grid-area: footer;
    height: 443px;
}