extends ../template/layout.pug

append links
  link(href="../template/site-page-layout.scss" rel ="stylesheet")
  

block main
  include ../../src/blocks/header-site/header-site.pug
  div.site-page-layout__container
    div.template__header-container
      +header-site('')
    section.page-content__container
      block pageContent
    div.template__footer-container
      include ../../src/blocks/footer-site/footer-site.pug
    
append scripts
  script(src="../../src/blocks/header-site/header-site.js")
  script(src="../../src/mixins/button-mixin/button-mixin.js")
  script(src="../../src/mixins/textfield-mixin/textfield-mixin.js")
  script(src="../../src/mixins/textfield-mixin/jquery.maskedinput.js")