@import "../../src/blocks/header-site/header-site.scss";
@import "../../src/blocks/footer-site/footer-site.scss";
@import "../../src/blocks/checkbox-buttons/checkbox-buttons.scss";


body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    min-width: 320px;
    box-sizing: border-box;
}

[class$="container"]  {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0; 
}

.site-page-layout__container{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    min-width: 320px;
    display: grid;
    grid-template-areas:
        "header"
        "pageContent"
        "footer";
}
.template__header-container {
    margin: 0;
    padding: 0;
    grid-area: header;
    width: 100%;
}

.page-content__container {
    margin: 0;
    padding: 0;
    grid-area: pageContent;
    width: 100%;
}

.template__footer-container {
    margin: 0;
    padding: 0;
    grid-area: footer;
    // height: 443px;
    width: 100%;
}