div.ulkit-colors__container
    div.ulkit-colors__view 
        div.ulkit-colors__view1
        div.ulkit-colors__view2
        div.ulkit-colors__view3
        div.ulkit-colors__view4
        div.ulkit-colors__view5
        div.ulkit-colors__view6
        div.ulkit-colors__view7

    div.ulkit-colors__descr
        div.ulkit-colors__descr_1
            h2 Dark Shade 100% <br> #1F2041
        div.ulkit-colors__descr_2
            h2 Dark Shade 75% <br> #1F2041
        div.ulkit-colors__descr_3
            h2 Dark shade 50% <br> #1F2041
        div.ulkit-colors__descr_4
            h2 Dark Shade 25% <br> #1F2041
        div.ulkit-colors__descr_5
            h2 Dark Shade 25% <br> #1F2041
        div.ulkit-colors__descr_6
            h2 Purple <br> #BC9CFF
        div.ulkit-colors__descr_7
            h2 Green <br> #6FCF97

