include ../../mixins/comfort-icons-mixin/comfort-icons-mixin.pug

div.comfort-icons__container
  +comfort-icon-mixin('mood', 'Комфорт', 'Шумопоглощающие стены')
  +comfort-icon-mixin('location_city', 'Удобство', 'Окно в каждой из спален')    



    