@import "./pages/template/variables.scss";
@import "../../src/mixins/comfort-icons-mixin/comfort-icons-mixin.scss";

.comfort-icons__container {
  margin: 0;
  padding: 0; 
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
