
@import "./pages/template/variables.scss";
.button__container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    border: 0;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__container_bordered {
    margin: 0;
    padding: 0;
    background: $gradient_primary;
    border-radius: 22px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    &:hover{
        opacity: 0.5;
    };
    &:active{
        opacity: 0.75;   
    }; 
}

.button__container_text{
    height: 15px;
}

.button {
    height: 100%;
    outline: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 22px;
    box-sizing: content-box;  
    position: relative;  
    cursor: pointer;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    .button__label{
        line-height: 100%;
        vertical-align: baseline;
        display: inline-block;
        };
    }

.button_colored { 
    background: $gradient_primary;
    border: none;
    .button__label{
        color: #ffffff;
    };
    &:hover{
        opacity: 0.5;
    };
    &:active{
        opacity: 0.75;   
    }; 
}

.button_bordered {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 22px;
    width: 100%;
    height: 100%;
    .button__label{
        color: $color__purple;
        &:hover{
            opacity: 0.5;
        };
        &:active{
            opacity: 0.75;   
        }; 
    };
}    

.button_text {
    background: white;
    border: none;
    height: 20px;
    .button__label{
    color: $color__purple;
    &:hover{
        opacity: 0.5;
    };
    &:active{
        opacity: 0.75;   
    }; 
    };
}   

.button__arrow-forward{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    &:hover{
        opacity: 0.5;
    };
    &:active{
        opacity: 0.75;   
    }; 
}




