mixin comfort-icon-mixin(icon, title, description)
  div.comfort-icon(class!=attributes.class)
    i.material-icons.comfort-icon__icon #{icon}
    div.comfort-icon__text
      span.comfort-icon__title #{title} <br>
      span #{description}





    