div.radio_btn_container
    h3 radio buttons
    div.radio_btn_1
        label.radio
            input.button_sex(type="radio" name="sex" value="male" checked)
            div.radio__text Мужчина
    div.radio_btn_2      
        label.radio
            input.button_sex(type="radio" name="sex" value="female")
            div.radio__text Женщина