include ../../mixins/like-button-mixin/like-button-mixin.pug
div.review_container
    img.review_photo(src="../../src/includes/review/images/photo1.png" alt="photo")
    div.review__like-button-container    
      +like-button('12', 'checked')
    div.review_body
        span.review_author
            strong Мурад Сарафанов
        span.review_date 5 дней назад
        span.review_text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
          |И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
          |не жаловался из соседей.
    