div.review_container
    img.review_photo(src="./src/includes/review/photo1.png" alt="photo")    
    .like_btn
        <i class="material-icons favorite_icon favorite_icon__checked">favorite</i> 
        span.like_counter 12
    div.review_body
        span.review_author
            strong Мурад Сарафанов
        span.review_date 5 дней назад
        span.review_text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
            <br> И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
            <br> не жаловался из соседей.
    