div.comfort_icons_container
  div.icon_1
    <i class="material-icons smile">mood</i>
    div.icon_text
      span.icon_header Комфорт <br>
      span Шумопоглощающие стены
  div.icon_2
    <i class="material-icons smile">location_city</i>
    div.icon_text
        span.icon_header Удобство <br>
        span Окно в каждой из спален


    