include ../../mixins/textfield-mixin/textfield-mixin.pug
div.textfield-masked__container
  form.textfield-masked__form(name="masked-text")
    label.textfield-masked__label
      h3 Masked text field
      +textfield('masked-text', 'ДД.ММ.ГГГГ', 'date')
