extends ../template/layout.pug

prepend head
  - var lang="en"
  - var myTitle = "Ui Kit form elements"
  - var myDesc = "Toxin Hotel Search"
append links
  link(href="UIkit-2.scss" rel ="stylesheet")
  
block main
  include ../../src/blocks/card-room/card-room.pug
  include ../../src/mixins/textfield-mixin/textfield-mixin.pug
  include ../../src/blocks/logo/logo.pug
  include ../../src/blocks/header/header.pug
  include ../../src/blocks/footer/footer.pug
  div.form-elements__container
    div.form-elements__col
      include ../../src/blocks/textfield-email/textfield-email.pug
      div.clearfix.spaceholder
      h3 Dropdown
      include ../../src/blocks/dropdown-guests/dropdown-guests-mixin.pug
      div.clearfix.spaceholder
      //- include ../../src/blocks/dropdown-guests/dropdown-guests.pug
      //- div.clearfix.spaceholder
      include ../../src/blocks/dropdown-facilities/dropdown-facilities.pug
      div.clearfix.spaceholder
      include ../../src/blocks/textfield-masked/textfield-masked.pug
      div.clearfix.spaceholder
      include ../../src/blocks/date-dropdown/date-dropdown.pug
      div.clearfix.spaceholder
      include ../../src/blocks/filter-date-dropdown/filter-date-dropdown.pug
      div.clearfix.spaceholder
      include ../../src/blocks/textfield-subscription/textfield-subscription.pug
      div.clearfix.spaceholder

    div.form-elements__col
      include ../../src/blocks/checkbox-buttons/checkbox-buttons.pug
      div.clearfix.spaceholder
      h3 Radio Buttons
      include ../../src/blocks/radio-button/radio-button.pug
      div.clearfix.spaceholder
      h3 Toggle
      include ../../src/blocks/toggle/toggle.pug
      div.clearfix.spaceholder
      include ../../src/blocks/like-button/like-button.pug
      div.clearfix.spaceholder
      include ../../src/blocks/rate-button/rate-button.pug
      div.clearfix.spaceholder
    div.form-elements__col
      include ../../src/blocks/range-slider/range-slider.pug
      div.clearfix.spaceholder
      include ../../src/blocks/buttons/buttons.pug
      div.clearfix.spaceholder
      div.clearfix.spaceholder
      include ../../src/blocks/pagination/pagination.pug
      div.clearfix.spaceholder     
  div.form-elements__container.form-elements__container_horisontal
    div.form-elements__col.form-elements__col_horisontal
      
      div.clearfix.spaceholder 
    div.form-elements__col.form-elements__col_horisontal
      include ../../src/blocks/exp-checkbox/exp-checkbox.pug
      div.clearfix.spaceholder
      include ../../src/blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug 
      div.clearfix.spaceholder
      include ../../src/blocks/bullet-list/bullet-list.pug
      div.clearfix.spaceholder
    div.form-elements__col.form-elements__col_horisontal
      include ../../src/blocks/comfort-icons/comfort-icons.pug
      div.clearfix.spaceholder
    include ../../src/blocks/review/review.pug
    div.clearfix.spaceholder
    include ../../src/blocks/card-search/card-search.pug
    div.clearfix.spaceholder
    include ../../src/blocks/card-registration/card-registration.pug
    div.clearfix.spaceholder
    include ../../src/blocks/card-price/card-price.pug
    div.clearfix.spaceholder
    include ../../src/blocks/card-login/card-login.pug
    div.clearfix.spaceholder
    +card-room-mixin('photo1', 'grey', '888', 'люкс', '9 990', '5', '145')
    div.clearfix.spaceholder
    +card-room-mixin('photo2', 'grey', '840', '', '9 900', '4', '65', 'noArrows')
    div.clearfix.spaceholder
    div.headerfooter__container
      +header('')
      div.clearfix.spaceholder
      +header('loggedIn')
      div.clearfix.spaceholder
      +footer('full')
      div.clearfix.spaceholder
      +footer('light')
    div.clearfix.spaceholder
    div.clearfix.spaceholder
    div.clearfix.spaceholder
append scripts
  script(src="../../src/blocks/exp-checkbox/exp-checkbox.js") 
  script(src="../../src/blocks/range-slider/range-slider.js")
  script(src="../../src/blocks/datepicker/air-datepicker/dist/js/datepicker.min.js")
  script(src="../../src/blocks/date-dropdown/date-dropdown.js")
  script(src="../../src/blocks/filter-date-dropdown/filter-date-dropdown.js")
  script(src="../../src/blocks/dropdown-guests/spin-number-plugin.js")
  script(src="../../src/blocks/dropdown-facilities/dropdown-facilities.js")
  //- script(src="../../src/blocks/textfield-masked/jquery.maskedinput.js")
  //- script(src="../../src/blocks/textfield-masked/textfield-masked.js")
  script(src="../../src/mixins/like-button-mixin/like-button-mixin.js")
  script(src="../../src/blocks/range-slider/jquery-ui-1.12.1/jquery-ui.min.js")
  script(src="../../src/mixins/button-mixin/button-mixin.js")
  script(src="../../src/blocks/dropdown-guests/dropdown-guests-mixin.js")
  script(src="../../src/blocks/card-room/slick-slider/slick-1.8.1/slick/slick.min.js")
  script(src="../../src/blocks/card-room/slick-slider/slick-slider.js")
  script(src="../../src/blocks/header/header.js")
  script(src="../../src/mixins/textfield-mixin/textfield-mixin.js")
  script(src="../../src/mixins/textfield-mixin/jquery.maskedinput.js")
  