div.range-slider__container
   div.range-slider__header
      label.range-slider__label(for="amount") 
         h3 Range slider
      input#amount.range-slider__input(type="text" readonly)
   div#slider-range.range-slider__slider
 
// - For Slider script should be included on the page: (src="../../src/blocks/range-slider/jquery-ui-1.12.1/jquery-ui.min.js")