div.range-slider__container
   div.range-slider__header
      label.range-slider__label(for="amount") 
         h3 Range slider
      input#amount.range-slider__input(type="text" readonly)
   div#slider-range.range-slider__slider
 
