@import "./pages/template/variables.scss";
@import '../../mixins/textfield-mixin/textfield-mixin.scss';
// @import "../../blocks/footer/footer.scss";

.footer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    @media screen and (max-width: 1430px){
        display: none;
    }
}

.footer__navigation-section{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 140px;
    padding-right: 140px;   
}

.footer__column1__logo, .footer__column3__subscription {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 4px;
}

.footer__column1__logo{
    width: 255px;
    
}

.footer__column3__subscription {
    width: 260px;
}

.footer__column2__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 555px;
}

.footer div .footer__text{
    margin: 0;
    padding: 0;
    margin-top: 18px;
    line-height: 24px;
    color:  $color__dark-shade75;
}

.footer nav a{
    text-decoration: none;
}

.footer nav h3, .footer div h3, .footer div p{
    margin: 0;
    padding: 0;
}

.footer__column1__logo{
    padding-top: 0px;
   
}

.footer__menu-section1, .footer__menu-section2, .footer__menu-section3{
    width: 28%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 4px;
}

.footer__menu-item{
    margin: 0;
    padding: 0;
    color:  $color__dark-shade50;
    line-height: 17px;
    margin-top: 21px;
    // font-size: 12px;
}

.footer__column3__subscription .footer__menu-item{
    line-height: 24px;
    color:  $color__dark-shade75;
    margin-top: 19px;
    margin-bottom: 22px;
}

.footer__menu-item__email-input{
    position: relative;
}

.footer__copyright-section{
    margin: 0;
    padding: 0;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 1px solid $color__dark-shade10;
    padding-left: 140px;
    padding-right: 140px;
}

.footer__social-icons__button{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.footer__social-icons__image{
    margin-left: 22px;
}

.footer_light{
    @extend.footer;
    margin: 0;
    padding: 0;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    display: none;
    padding: 15px;
    @media screen and (max-width: 1430px){
        display: flex;  
    } 
}    

.footer_light .footer__text{
    max-width: 560px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 28px;
    @media screen and (max-width: 450px){
        margin-top: 10px;
        margin-bottom: 10px;  
    } 
}

.footer__social-icons, .footer__social-icons__button{
    margin: 0;
    padding: 0;
}


.footer_light .footer__social-icons__button:first-child img{
    margin-left: 0px;
}