include ../../mixins/textfield-mixin/textfield-mixin.pug

div.textfield-subscription__container
  h3 Subscription text field
  +textfield('Subscription', 'Your email address', 'textfield-subscription')
