include ../../assets/textfield-mixin/textfield-mixin.pug
+textfield('Masked Text field', 'mask', 'text', '', 'date')

//- div.textfield-email__container
//-   form.textfield-email(name="textfield-email")
//-     label.textfield-email__label(for='mask')
//-       h3 Masked Text Field
//-     input#mask.textfield-email__input(class="date" type="text" name="textfield-masked" autocomplete="off" )