// @import "./src/mixins/button/button.scss";
@import "./src/mixins/button-mixin/button-mixin.scss";

.buttons__UI-container{
margin: 0;
padding: 0;
width: 320px;
}
.buttons__header{
    margin-bottom: 16px;
}

.buttons__container{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.UI__button {
    margin: 0;
    padding: 0;
    width: 99px;
    height: 44px;
}

.UI__button_long{
    margin: 0;
    padding: 0;
    width: 320px;
    height: 44px;
}

.UI__button_text{
    margin: 0;
    padding: 0;
    width: 61px;
    height: 100%;
}

.UI__button_text:nth-of-type(2) form a h3{
    color: $color__dark-shade50;
}

.buttons__colored-button-container, .buttons__bordered-button-container  {
    display: flex;
    flex-direction: row;
    width: 217px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.buttons__text-button-container{
    display: flex;
    flex-direction: row;
    width: 142px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 4px;
}