@import '../../mixins/header-mixin/header-mixin.scss';

.header__header-menu{
    max-width: 445px;
    margin-right: 20px;
}

.header__header-menu__list-item:first-of-type{
    font-weight: normal;
    font-family: 'Conv_Montserrat-Regular', 'Open Sans', sans-serif;
    color: $color__dark-shade50;
}

.header__header-menu__list-item{
    &:hover{
        color: #BC9CFF;
        font-weight: bold;
    }
}

.header__header-menu__list-item:nth-of-type(2), .header__header-menu__list-item:nth-of-type(5){
    margin-right: 20px;
}

.header__header-menu__list-item:nth-of-type(3){
    margin-right: 0;
}

.header__header-menu__list-item:nth-of-type(2) .header-menu__open-icon{
    position: absolute;
    top: -3px;
    left: 50px;
}

.header__header-menu__list-item:nth-of-type(2) .header-menu__close-icon{
    position: absolute;
    top: -3px;
    left: 50px;
    transform: rotate(180deg);
}

.header__header-menu__list-item:nth-of-type(5) .header-menu__open-icon{
    position: absolute;
    top: -3px;
    left: 90px;
}

.header__header-menu__list-item:nth-of-type(5) .header-menu__close-icon{
    position: absolute;
    top: -3px;
    left: 90px;
    transform: rotate(180deg);
}

.header__header-menu__services{
    z-index: 1000;
    text-align: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    top: 30px;
}

.header__header-menu__agreements{
    position: absolute;
    left: -15px;
    top: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    width: 100px;
    padding: 10px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    z-index: 1000;
    text-align: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.header__header-menu__agreements-list-item{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 25px;
}

.header__header-buttons, .header__logged-in{
    max-width: 305px;
}

.header__header-buttons__login-button{
    width: 87px;
    height: 34px;
}

.header__header-buttons__register-button{
    width: 196px;
}


