div.form_buttons_container
    h3.buttons_header Buttons
    div.buttons_container
        +button("click me", "button__colored")
        +button("click me", "button__bordered")
        +button("click me", "button__text")
        +button("Перейти к оплате", "button__long")
            