include ../../mixins/checkbox-mixin/checkbox-mixin.pug
div.rich-checkbox-buttons__container
  h3 Доступность 
  ul.rich-checkbox-buttons__list
    li.rich-checkbox-buttons__list-item: +checkbox-twoline("Широкий коридор", "Ширина коридоров в номере не менее 91 см", '13')
    li.rich-checkbox-buttons__list-item: +checkbox-twoline("Помощник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера", '14')