
div.checkbox_btn_container
    h3 Checkbox buttons 
    ul.checkbox_btn_list
        li.checkbox_btn_listitem: +checkbox("Можно курить", '10')
        li.checkbox_btn_listitem: +checkbox("Можно с питомцами",'11' )
        li.checkbox_btn_listitem: +checkbox_text_adv("Можно пригласить гостей", "(до 10 человек)", '12')
          