table.ulkit-fonts__table
          tr
            td.ulkit-fonts__table__cell  
              h1.ulkit-fonts_table__cell__1 
                |H1 
            td.ulkit-fonts__table__cell.ulkit-fonts__table__cell_2
              h1 This one is the sub-section or widget title
          tr
            td.ulkit-fonts__table__cell
              h2.ulkit-fonts_table__cell__1 
                |H2 
            td.ulkit-fonts__table__cell.ulkit-fonts__table__cell_2 
              h2 Next one is the item title inside widgets 
          tr
            td.ulkit-fonts__table__cell 
              h3.ulkit-fonts_table__cell__1 
                |H3 
            td.ulkit-fonts__table__cell.ulkit-fonts__table__cell_2
              h3 This is a label or CTA text 
          tr.ulkit-fonts__table__cell__last_row
            td.ulkit-fonts__table__cell.ulkit-fonts__table__cell_1
              | Body 
            td.ulkit-fonts__table__cell.ulkit-fonts__table__cell_2 
              span.body-text This is the body text which is used for most of the design, like paragraphs, lists, etc. 
          