.form_elements_container {
display: flex;
justify-content: flex-start;
padding-left: 22px;
padding-top: 48px;
}
                 
.form_elements_col {
display: flex; 
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 125px;
width: 25%;
}

.form_elements_col:last-child {
    margin-right: 120px;
}
.spaceholder {
    height: 30px;
    }

    