-var dropdown_final_text = 'Сколько гостей' 


mixin dropdown_list_item (item_title, id)
  li.dropdown_list_item
    div.dropdown_list_item_title
      h3=item_title
    div.dropdown_counter(id=id, min="0", max="20", step="1")

//- mixin dropdown
div.dropdown_container
  +textfield('Dropdown', dropdown_final_text, '.dropdown_input')
  ul.dropdown_list
    + dropdown_list_item('Взрослые', 'counter1')
    + dropdown_list_item('Дети', 'counter2')
    + dropdown_list_item('Младенцы', 'counter3')
    li.dropdown_list_item.dropdown_buttons
      span.dropdown_button
        h3.dropdown_button__clear Очистить
      span.dropdown_button
        h3.dropdown_button__apply Применить

  
//- div.text_field_container
//-         form.text_field.clearfix
//-             label.text_field__label(for='text')
//-                 h3=title
//-             input#text.text_field__form(type='text' name='text' autocomplete="off" placeholder=placeholder class=add_mask_class)

  //- select.text_field__form.textfield_dropdown (name="select" id="select")
  //-   option.dropdown_option Сколько гостей
  //-   option.dropdown_option Взрослые
  //-   option.dropdown_option Дети
  //-   option.dropdown_option Младенцы
  
     
    

    