div.dropdown_container
  label.text_field__label(for='select')
    h3 Dropdown
  select.text_field__form.textfield_dropdown (name="select" id="select")
    option.dropdown_option Сколько гостей
    option.dropdown_option Взрослые
    option.dropdown_option Дети
    option.dropdown_option Младенцы
  
     
    

    