//- -var dropdown_final_text = 'Сколько гостей' 


mixin dropdown_list_item (item_title, id)
  li.dropdown_list_item
    div.dropdown_list_item_title
      h3=item_title
    div.dropdown_counter(id=id, min="0", max="20", step="1")

//- mixin dropdown
div.dropdown_container
  h3 Dropdown
  input.dropdown_input(type='text' name='guests' autocomplete="off" placeholder="Сколько гостей" readonly)
  ul.dropdown_list
    + dropdown_list_item('Взрослые', 'counter1')
    + dropdown_list_item('Дети', 'counter2')
    + dropdown_list_item('Младенцы', 'counter3')
    li.dropdown_list_item.dropdown_buttons
      input.dropdown_button.dropdown_button__clear(type='button' value='Очистить')
      input.dropdown_button.dropdown_button__apply(type='button' value='Применить')
      
  
     
    

    