include ../../mixins/like-button-mixin/like-button-mixin.pug
//- -var status = 'checked'

h3 Like button
div.like-button__container
  +like-button('5', 'unchecked')
  +like-button('12', 'checked')



