@import "./pages/template/variables.scss";
@import "../../blocks/header-logo/header-logo.scss";


.header{
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 920px;
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding-left: 9.8%;
    padding-right: 9.8%;
}

.header__header-logo__container{
    margin: 0;
    padding: 0;
    width: 25%;
    box-sizing: border-box;
    margin-right: 10px;
}

.header__header-menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 527px;
    width: 100%; 
    margin-right: 30px;
    margin-left: auto;
}

.header__header-menu__list-item{
    display: inline-block;
    text-decoration: none;
    color: $color__dark-shade50;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Conv_Montserrat-Regular';
}

.header__header-menu__list-item:first-of-type{
    font-family: 'Conv_Montserrat-Bold', 'Open Sans', sans-serif;
    font-weight: bold;
    color: $color__dark-shade75;
}

.header__header-menu__list-item:nth-of-type(3){
    margin-right: 15px;
}

.header-menu__open-icon{
    position: absolute;
    top: -2px;
    left: 56px;
}

.header-menu__close-icon{
    position: absolute;
    top: -2px;
    left: 56px;
    transform: rotate(180deg);
}

.header__header-menu__services{
    position: absolute;
    left: -15px;
    top: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    width: 75px;
    padding: 10px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    z-index: 100;
    text-align: center;
    background: white;
}

.header__header-menu__services-list-item{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 25px;
}

.header__header-buttons, .header__logged-in{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 200px;
    width: 100%; 
}

.header__header-buttons__login-button{
    margin: 0;
    padding: 0;
    width: 79px;
    height: 34px;
}

.header__header-buttons__register-button{
    margin: 0;
    padding: 0;
    width: 101px;
    height: 34px;
}

.header__separation-line {
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 1px;
    height: 30px;
    border: 1px solid $color__dark-shade10;
}

.header__user-name{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: $color__dark-shade50;
    vertical-align: middle;
    line-height: 100%;
}

.header__logged-in{
    width: 144px;
}