//- mixin dateDropdown(title1, id1, title2, id2 placeholder)
//-   div.date-dropdown__container
//-     form.date-dropdown__form
//-       label.date-dropdown__label(for='start_one')
//-         h3=title1
//-         input#start_one.date-dropdown__input.datepicker-here(type='text' data-range="true" placeholder=placeholder readonly data-multiple-dates-separator=" - ")
//-       label.date-dropdown__label(for='end_one')
//-         h3=title2
//-         input#end_one.date-dropdown__input(type='text' placeholder=placeholder readonly)