a(href="Landing.pug" name="Toxin hotel search" target="_blank")  
  div.header__logo
    img.header__logo__picture(src='src/blocks/header-logo/headerLogoPic.png' alt='Logo')
    img.header__logo__picture(src='src/blocks/header-logo/headerLogoText.png' alt='Logo')