mixin bullet-list__list__item (text)
    li.bullet-list__list__item=text


div.bullet-list__container
    h3.bullet-list__title Bullet list
    ul.bullet-list__list
        +bullet-list__list__item('Нельзя с питомцами')
        +bullet-list__list__item('Без вечеринок и мероприятий')
        +bullet-list__list__item('Время прибытия — после 13:00, а выезд до 12:00')
